2 semestre/Laboratório de Desenvolvimento de Algoritmos/Deitel/examples/ch31/BlackjackGame/xml-resources/web-service-references/BlackjackService/wsdl/localhost_8080/Blackjack/BlackjackService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-417-SNAPSHOT. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-417-SNAPSHOT. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://blackjack.java.deitel.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://blackjack.java.deitel.com/" name="BlackjackService">
<types>
<xsd:schema>
<xsd:import namespace="http://blackjack.java.deitel.com/" schemaLocation="http://localhost:8080/Blackjack/BlackjackService?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="shuffle">
<part name="parameters" element="tns:shuffle"></part>
</message>
<message name="shuffleResponse">
<part name="parameters" element="tns:shuffleResponse"></part>
</message>
<message name="dealCard">
<part name="parameters" element="tns:dealCard"></part>
</message>
<message name="dealCardResponse">
<part name="parameters" element="tns:dealCardResponse"></part>
</message>
<message name="getHandValue">
<part name="parameters" element="tns:getHandValue"></part>
</message>
<message name="getHandValueResponse">
<part name="parameters" element="tns:getHandValueResponse"></part>
</message>
<portType name="Blackjack">
<operation name="shuffle">
<input message="tns:shuffle"></input>
<output message="tns:shuffleResponse"></output>
</operation>
<operation name="dealCard">
<input message="tns:dealCard"></input>
<output message="tns:dealCardResponse"></output>
</operation>
<operation name="getHandValue">
<input message="tns:getHandValue"></input>
<output message="tns:getHandValueResponse"></output>
</operation>
</portType>
<binding name="BlackjackPortBinding" type="tns:Blackjack">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="shuffle">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="dealCard">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getHandValue">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="BlackjackService">
<port name="BlackjackPort" binding="tns:BlackjackPortBinding">
<soap:address location="http://localhost:8080/Blackjack/BlackjackService"></soap:address>
</port>
</service>
</definitions>