2 semestre/Laboratório de Desenvolvimento de Algoritmos/Deitel/examples/ch31/ReservationClient/web/WEB-INF/wsdl/client/ReservationService/localhost_8080/Reservation/ReservationService.xsd_1.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-417-SNAPSHOT. --><xs:schema xmlns:tns="http://reservation.java.deitel.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://reservation.java.deitel.com/">

<xs:element name="reserve" type="tns:reserve"></xs:element>

<xs:element name="reserveResponse" type="tns:reserveResponse"></xs:element>

<xs:complexType name="reserve">
<xs:sequence>
<xs:element name="seatType" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="classType" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="reserveResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>